body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f6f8f9;
}

.header {
  display: flex;
  align-items: center;
  padding: 2vmin;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header__title {
  margin: 0 auto;
  color: crimson;
  font-size: 22px;
}

.content {
  padding-top: 20px;
  background-color: #f6f8f9;
}